* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Sans TC", serif; */
  font-weight: 400;
  color: #463f3a;
}

body {
  background-color: #f4f3ee;
}
/* nav */
nav {
  background-color: #463f3a;
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  z-index: 1;
}

.nav-container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f4f3ee;
  font-family: "Alice", serif;
  font-size: 36px;
  text-decoration: none;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: #f4f3ee;
  text-decoration: none;
  font-family: "Alice", serif;
  font-size: 24px;
  position: relative;
  padding: 4px 0;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #e0afa0;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  color: #f4f3ee;
  background-color: #f4f3ee;
}

/* main */
main {
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.text {
  font-size: 3em;
  color: #463f3a;
  font-family: "Alice", serif;
}

.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: #333;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* footer */
footer {
  height: 32px;
  background-color: #463f3a;
  bottom: 0;
  position: static;
}
footer p {
  margin: 0;
  line-height: 32px;
  text-align: center;
  color: #f4f3ee;
  font-size: 12px;
  font-family: "Noto Sans TC", serif;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .nav-container {
    padding: 0 24px;
  }

  main {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav {
    height: 56px;
  }

  .nav-container {
    padding: 0 16px;
  }

  .logo {
    font-size: 32px;
  }
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: calc(56px);
    left: -100%;
    height: calc(100vh - 56px);
    width: 100%;
    background-color: #8a817c;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: left 0.3s ease-in-out;
  }

  .nav-links.active {
    left: 0;
  }
}
